apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tiktok-archive-data
  namespace: tiktok-archive
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  storageClassName: nfs-disk3
