apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  destination:
    namespace: traefik
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: traefik
    repoURL: https://helm.traefik.io/traefik
    targetRevision: "*"
    helm:
      values: |
        fullnameOverride: traefik
        service:
          type: NodePort
        ports:
          web:
            port: 8000
            exposedPort: 80
            nodePort: 31125
          websecure:
            port: 8443
            exposedPort: 443
            nodePort: 32594
          traefik:
            port: 8080
            exposedPort: 8080
            nodePort: 31180
        ingressRoute:
          dashboard:
            enabled: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
