apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: holm-git-data
  namespace: holm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: holm-git
  namespace: holm
  labels:
    app: holm-git
spec:
  replicas: 1
  selector:
    matchLabels:
      app: holm-git
  template:
    metadata:
      labels:
        app: holm-git
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                - openmediavault
      containers:
      - name: holm-git
        image: registry.holm.svc.cluster.local:5000/holm-git:latest
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: data
          mountPath: /data
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: holm-git-data
---
apiVersion: v1
kind: Service
metadata:
  name: holm-git
  namespace: holm
spec:
  type: NodePort
  selector:
    app: holm-git
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30009
