apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "2"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"registry","namespace":"registry"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"registry"}},"template":{"metadata":{"labels":{"app":"registry"}},"spec":{"containers":[{"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_STORAGE_DELETE_ENABLED","value":"true"}],"image":"docker.io/library/registry:2","name":"registry","ports":[{"containerPort":5000}],"volumeMounts":[{"mountPath":"/var/lib/registry","name":"registry-data"}]}],"volumes":[{"emptyDir":{},"name":"registry-data"}]}}}}
    creationTimestamp: "2026-01-15T16:33:17Z"
    generation: 4
    name: registry
    namespace: registry
    resourceVersion: "1035"
    uid: 432c1797-7290-49f7-b23e-8bbcdc786178
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: registry
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        labels:
          app: registry
      spec:
        containers:
        - env:
          - name: REGISTRY_HTTP_ADDR
            value: :5000
          - name: REGISTRY_STORAGE_DELETE_ENABLED
            value: "true"
          image: docker.io/library/registry:2
          imagePullPolicy: IfNotPresent
          name: registry
          ports:
          - containerPort: 5000
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/registry
            name: registry-data
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - emptyDir: {}
          name: registry-data
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-15T16:33:17Z"
      lastUpdateTime: "2026-01-15T16:34:13Z"
      message: ReplicaSet "registry-654965d6b9" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2026-01-27T04:38:42Z"
      lastUpdateTime: "2026-01-27T04:38:42Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 4
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
