apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"name":"registry","namespace":"registry"},"spec":{"ports":[{"nodePort":31500,"port":5000,"targetPort":5000}],"selector":{"app":"registry"},"type":"NodePort"}}
    creationTimestamp: "2026-01-15T16:33:17Z"
    name: registry
    namespace: registry
    resourceVersion: "10288"
    uid: bfb72914-73f6-4004-b386-d9a5a2ae7121
  spec:
    clusterIP: 10.43.195.149
    clusterIPs:
    - 10.43.195.149
    externalTrafficPolicy: Cluster
    internalTrafficPolicy: Cluster
    ipFamilies:
    - IPv4
    ipFamilyPolicy: SingleStack
    ports:
    - nodePort: 30500
      port: 5000
      protocol: TCP
      targetPort: 5000
    selector:
      app: registry
    sessionAffinity: None
    type: NodePort
  status:
    loadBalancer: {}
kind: List
metadata:
  resourceVersion: ""
