apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "2"
    creationTimestamp: "2026-01-25T00:58:08Z"
    generation: 2
    labels:
      app: controller.csi.trident.qnap.io
      k8s_version: v1.34.3
      kubectl.kubernetes.io/default-container: trident-main
      trident_version: v1.06.0
    name: trident-controller
    namespace: trident
    ownerReferences:
    - apiVersion: trident.qnap.io/v1
      controller: true
      kind: TridentOrchestrator
      name: trident
      uid: 8a0bec38-8bff-4828-ae27-2ef74058714d
    resourceVersion: "1048"
    uid: a600e79e-c6d9-48a1-9bb8-85336ee895ec
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: controller.csi.trident.qnap.io
    strategy:
      type: Recreate
    template:
      metadata:
        annotations:
          kubectl.kubernetes.io/restartedAt: "2026-01-24T17:50:27-08:00"
          openshift.io/required-scc: trident-controller
        labels:
          app: controller.csi.trident.qnap.io
      spec:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                  - arm64
                  - amd64
                - key: kubernetes.io/os
                  operator: In
                  values:
                  - linux
        containers:
        - command:
          - /dist/grpc-server
          - --address=/tmp/cgi-server.sock
          - --network=unix
          image: qnapsystem/qnap-csi-backend-qts-sidecar:v1.5.2
          imagePullPolicy: IfNotPresent
          name: storage-api-server
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /tmp
            name: csi-grpc-socket
        - args:
          - --crd_persistence
          - --k8s_pod
          - --https_rest
          - --https_port=8443
          - --csi_node_name=$(KUBE_NODE_NAME)
          - --csi_endpoint=$(CSI_ENDPOINT)
          - --csi_role=controller
          - --log_format=text
          - --log_level=debug
          - --log_workflows=
          - --log_layers=
          - --disable_audit_log=true
          - --address=127.0.0.1
          - --http_request_timeout=90s
          - --enable_force_detach=false
          - --metrics
          - -debug
          command:
          - /trident_orchestrator
          env:
          - name: KUBE_NODE_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: spec.nodeName
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: CSI_ENDPOINT
            value: unix://plugin/csi.sock
          - name: TRIDENT_SERVER
            value: 127.0.0.1:8000
          image: qnapsystem/qnap-csi:v1.6.0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            exec:
              command:
              - tridentctl
              - -s
              - 127.0.0.1:8000
              - version
            failureThreshold: 2
            initialDelaySeconds: 120
            periodSeconds: 120
            successThreshold: 1
            timeoutSeconds: 90
          name: trident-main
          ports:
          - containerPort: 8443
            protocol: TCP
          - containerPort: 8001
            protocol: TCP
          resources: {}
          securityContext:
            capabilities:
              drop:
              - all
            runAsNonRoot: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /plugin
            name: socket-dir
          - mountPath: /certs
            name: certs
            readOnly: true
          - mountPath: /tmp
            name: csi-grpc-socket
        - args:
          - --v=8
          - --timeout=600s
          - --csi-address=$(ADDRESS)
          - --retry-interval-start=8s
          - --retry-interval-max=30s
          env:
          - name: ADDRESS
            value: /var/lib/csi/sockets/pluginproxy/csi.sock
          image: registry.k8s.io/sig-storage/csi-provisioner:v4.0.0
          imagePullPolicy: IfNotPresent
          name: csi-provisioner
          resources: {}
          securityContext:
            capabilities:
              drop:
              - all
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/csi/sockets/pluginproxy/
            name: socket-dir
        - args:
          - --v=8
          - --timeout=60s
          - --retry-interval-start=10s
          - --csi-address=$(ADDRESS)
          env:
          - name: ADDRESS
            value: /var/lib/csi/sockets/pluginproxy/csi.sock
          image: registry.k8s.io/sig-storage/csi-attacher:v4.5.0
          imagePullPolicy: IfNotPresent
          name: csi-attacher
          resources: {}
          securityContext:
            capabilities:
              drop:
              - all
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/csi/sockets/pluginproxy/
            name: socket-dir
        - args:
          - --v=8
          - --timeout=300s
          - --csi-address=$(ADDRESS)
          env:
          - name: ADDRESS
            value: /var/lib/csi/sockets/pluginproxy/csi.sock
          image: registry.k8s.io/sig-storage/csi-resizer:v1.9.3
          imagePullPolicy: IfNotPresent
          name: csi-resizer
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/csi/sockets/pluginproxy/
            name: socket-dir
        - args:
          - --v=8
          - --timeout=300s
          - --csi-address=$(ADDRESS)
          env:
          - name: ADDRESS
            value: /var/lib/csi/sockets/pluginproxy/csi.sock
          image: registry.k8s.io/sig-storage/csi-snapshotter:v6.3.3
          imagePullPolicy: IfNotPresent
          name: csi-snapshotter
          resources: {}
          securityContext:
            capabilities:
              drop:
              - all
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/csi/sockets/pluginproxy/
            name: socket-dir
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        serviceAccount: trident-controller
        serviceAccountName: trident-controller
        terminationGracePeriodSeconds: 30
        volumes:
        - emptyDir: {}
          name: socket-dir
        - name: certs
          projected:
            defaultMode: 420
            sources:
            - secret:
                name: trident-csi
            - secret:
                name: trident-encryption-keys
        - emptyDir:
            sizeLimit: 1Gi
          name: asup-dir
        - emptyDir: {}
          name: csi-grpc-socket
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-25T00:58:08Z"
      lastUpdateTime: "2026-01-25T01:50:50Z"
      message: ReplicaSet "trident-controller-794957d9f" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2026-01-27T02:45:04Z"
      lastUpdateTime: "2026-01-27T02:45:04Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 2
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
