apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      argocd.argoproj.io/tracking-id: cloudflared:apps/Deployment:cloudflare/cloudflared-cloudflare-tunnel
      deployment.kubernetes.io/revision: "45"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{"argocd.argoproj.io/tracking-id":"cloudflared:apps/Deployment:cloudflare/cloudflared-cloudflare-tunnel"},"labels":{"app.kubernetes.io/instance":"cloudflared","app.kubernetes.io/managed-by":"Helm","app.kubernetes.io/name":"cloudflare-tunnel","app.kubernetes.io/version":"2024.8.3","helm.sh/chart":"cloudflare-tunnel-0.3.2"},"name":"cloudflared-cloudflare-tunnel","namespace":"cloudflare"},"spec":{"replicas":2,"selector":{"matchLabels":{"app.kubernetes.io/instance":"cloudflared","app.kubernetes.io/name":"cloudflare-tunnel"}},"template":{"metadata":{"annotations":{"checksum/configmap":"5c063359ebdf38edf63a989a5fb7fe2fd558ba1da163fdc96d4cf47f6fe16300","checksum/secret":"01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b"},"labels":{"app.kubernetes.io/instance":"cloudflared","app.kubernetes.io/name":"cloudflare-tunnel"}},"spec":{"affinity":{"podAntiAffinity":{"preferredDuringSchedulingIgnoredDuringExecution":[{"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app.kubernetes.io/instance","operator":"In","values":["cloudflared"]},{"key":"app.kubernetes.io/name","operator":"In","values":["cloudflare-tunnel"]}]},"topologyKey":"kubernetes.io/hostname"},"weight":10}]}},"containers":[{"args":["tunnel","--config","/etc/cloudflared/config/config.yaml","run"],"image":"cloudflare/cloudflared:2025.11.1","imagePullPolicy":"IfNotPresent","livenessProbe":{"failureThreshold":1,"httpGet":{"path":"/ready","port":2000},"initialDelaySeconds":10,"periodSeconds":10},"name":"cloudflare-tunnel","resources":{},"securityContext":{"allowPrivilegeEscalation":false,"capabilities":{"drop":["ALL"]},"readOnlyRootFilesystem":true},"volumeMounts":[{"mountPath":"/etc/cloudflared/config","name":"config","readOnly":true},{"mountPath":"/etc/cloudflared/creds","name":"creds","readOnly":true}]}],"securityContext":{"runAsNonRoot":true,"runAsUser":65532},"serviceAccountName":"cloudflared-cloudflare-tunnel","volumes":[{"name":"creds","secret":{"secretName":"cloudflare-tunnel-credentials"}},{"configMap":{"items":[{"key":"config.yaml","path":"config.yaml"}],"name":"cloudflared-cloudflare-tunnel"},"name":"config"}]}}}}
    creationTimestamp: "2026-01-19T01:19:42Z"
    generation: 46
    labels:
      app.kubernetes.io/instance: cloudflared
      app.kubernetes.io/managed-by: Helm
      app.kubernetes.io/name: cloudflare-tunnel
      app.kubernetes.io/version: 2024.8.3
      helm.sh/chart: cloudflare-tunnel-0.3.2
    name: cloudflared-cloudflare-tunnel
    namespace: cloudflare
    resourceVersion: "918"
    uid: 8408939a-390c-4dee-a379-ffc6c97cf188
  spec:
    progressDeadlineSeconds: 600
    replicas: 2
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app.kubernetes.io/instance: cloudflared
        app.kubernetes.io/name: cloudflare-tunnel
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        annotations:
          checksum/configmap: 5c063359ebdf38edf63a989a5fb7fe2fd558ba1da163fdc96d4cf47f6fe16300
          checksum/secret: 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b
          kubectl.kubernetes.io/restartedAt: "2026-01-25T18:00:14-08:00"
        labels:
          app.kubernetes.io/instance: cloudflared
          app.kubernetes.io/name: cloudflare-tunnel
      spec:
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/instance
                    operator: In
                    values:
                    - cloudflared
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                    - cloudflare-tunnel
                topologyKey: kubernetes.io/hostname
              weight: 10
        containers:
        - args:
          - tunnel
          - --config
          - /etc/cloudflared/config/config.yaml
          - run
          image: cloudflare/cloudflared:2025.11.1
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 1
            httpGet:
              path: /ready
              port: 2000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: cloudflare-tunnel
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /etc/cloudflared/config
            name: config
            readOnly: true
          - mountPath: /etc/cloudflared/creds
            name: creds
            readOnly: true
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext:
          runAsNonRoot: true
          runAsUser: 65532
        serviceAccount: cloudflared-cloudflare-tunnel
        serviceAccountName: cloudflared-cloudflare-tunnel
        terminationGracePeriodSeconds: 30
        volumes:
        - name: creds
          secret:
            defaultMode: 420
            secretName: cloudflare-tunnel-credentials
        - configMap:
            defaultMode: 420
            items:
            - key: config.yaml
              path: config.yaml
            name: cloudflared-cloudflare-tunnel
          name: config
  status:
    availableReplicas: 2
    conditions:
    - lastTransitionTime: "2026-01-19T01:19:42Z"
      lastUpdateTime: "2026-01-26T02:00:17Z"
      message: ReplicaSet "cloudflared-cloudflare-tunnel-5cf9c5468b" has successfully
        progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2026-01-27T02:39:24Z"
      lastUpdateTime: "2026-01-27T02:39:24Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 46
    readyReplicas: 2
    replicas: 2
    updatedReplicas: 2
kind: List
metadata:
  resourceVersion: ""
