apiVersion: v1
kind: Service
metadata:
  name: {{ include "holm-mind.fullname" . }}
  labels:
    {{- include "holm-mind.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
  selector:
    {{- include "holm-mind.selectorLabels" . | nindent 4 }}
