apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      argocd.argoproj.io/tracking-id: pihole:apps/Deployment:pihole/pihole
      deployment.kubernetes.io/revision: "1"
    creationTimestamp: "2026-01-20T09:14:25Z"
    generation: 1
    labels:
      app: pihole
      app.kubernetes.io/name: pihole
      chart: pihole-2.35.0
      heritage: Helm
      release: pihole
    name: pihole
    namespace: pihole
    resourceVersion: "1034"
    uid: aa0a03c5-3180-43ce-bf48-ea7301c0be85
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: pihole
        release: pihole
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 1
      type: RollingUpdate
    template:
      metadata:
        annotations:
          checksum.config.adlists: 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546
          checksum.config.blacklist: 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546
          checksum.config.dnsmasqConfig: 1ee8db5d593a587eb33ad6a056b2f87e85b25525e2d806d80075209655e8c52
          checksum.config.regex: 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546
          checksum.config.staticDhcpConfig: 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546
          checksum.config.whitelist: 01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546
        labels:
          app: pihole
          app.kubernetes.io/name: pihole
          release: pihole
      spec:
        containers:
        - env:
          - name: FTLCONF_webserver_port
            value: "80"
          - name: VIRTUAL_HOST
            value: pi.hole
          - name: FTLCONF_misc_etc_dnsmasq_d
            value: "true"
          - name: FTLCONF_webserver_api_password
            valueFrom:
              secretKeyRef:
                key: password
                name: pihole-password
          - name: FTLCONF_dns_listeningMode
            value: all
          - name: TZ
            value: America/Los_Angeles
          - name: WEBPASSWORD_FILE
          - name: FTLCONF_dns_upstreams
            value: 1.1.1.1;8.8.8.8
          image: pihole/pihole:latest
          imagePullPolicy: Always
          livenessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - curl --silent http://localhost/api/info/login | jq 'if (.dns | not)
                then halt_error(1) end'
            failureThreshold: 10
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          name: pihole
          ports:
          - containerPort: 80
            name: http
            protocol: TCP
          - containerPort: 53
            name: dns
            protocol: TCP
          - containerPort: 53
            name: dns-udp
            protocol: UDP
          - containerPort: 443
            name: https
            protocol: TCP
          - containerPort: 67
            name: client-udp
            protocol: UDP
          readinessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - curl --silent http://localhost/api/info/login | jq 'if (.dns | not)
                then halt_error(1) end'
            failureThreshold: 10
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 100m
              memory: 128Mi
          securityContext:
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /etc/pihole
            name: config
          - mountPath: /etc/dnsmasq.d/02-custom.conf
            name: custom-dnsmasq
            subPath: 02-custom.conf
          - mountPath: /etc/addn-hosts
            name: custom-dnsmasq
            subPath: addn-hosts
        dnsConfig:
          nameservers:
          - 127.0.0.1
          - 8.8.8.8
        dnsPolicy: None
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - emptyDir: {}
          name: config
        - configMap:
            defaultMode: 420
            name: pihole-custom-dnsmasq
          name: custom-dnsmasq
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-20T09:14:25Z"
      lastUpdateTime: "2026-01-20T09:14:25Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2026-01-20T09:14:25Z"
      lastUpdateTime: "2026-01-20T09:15:29Z"
      message: ReplicaSet "pihole-55c86567c9" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
