apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ytarchive-controller-hpa
  namespace: ytarchive
  labels:
    app.kubernetes.io/name: controller-hpa
    app.kubernetes.io/component: autoscaling
    app.kubernetes.io/part-of: ytarchive
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ytarchive-controller
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
