apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "3"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"elasticsearch","namespace":"tubearchivist"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"elasticsearch"}},"template":{"metadata":{"labels":{"app":"elasticsearch"}},"spec":{"affinity":{"nodeAffinity":{"requiredDuringSchedulingIgnoredDuringExecution":{"nodeSelectorTerms":[{"matchExpressions":[{"key":"kubernetes.io/hostname","operator":"In","values":["openmediavault","rpi-1","rpi-10","rpi-5","rpi-7","rpi-8"]}]}]}}},"containers":[{"env":[{"name":"discovery.type","value":"single-node"},{"name":"ES_JAVA_OPTS","value":"-Xms512m -Xmx512m"},{"name":"xpack.security.enabled","value":"true"},{"name":"ELASTIC_PASSWORD","valueFrom":{"secretKeyRef":{"key":"elastic-password","name":"tubearchivist-secrets"}}},{"name":"path.repo","value":"/usr/share/elasticsearch/data/snapshot"}],"image":"elasticsearch:8.14.3","name":"elasticsearch","ports":[{"containerPort":9200}],"resources":{"limits":{"cpu":"2","memory":"2Gi"},"requests":{"cpu":"500m","memory":"1Gi"}},"volumeMounts":[{"mountPath":"/usr/share/elasticsearch/data","name":"data"}]}],"initContainers":[{"command":["sh","-c","sysctl -w vm.max_map_count=262144 || true"],"image":"busybox","name":"sysctl","securityContext":{"privileged":true}},{"command":["sh","-c","mkdir -p /usr/share/elasticsearch/data/snapshot \u0026\u0026 chown -R 1000:1000 /usr/share/elasticsearch/data"],"image":"busybox","name":"fix-permissions","securityContext":{"runAsUser":0},"volumeMounts":[{"mountPath":"/usr/share/elasticsearch/data","name":"data"}]}],"volumes":[{"name":"data","persistentVolumeClaim":{"claimName":"elasticsearch-data"}}]}}}}
    creationTimestamp: "2026-01-25T06:58:18Z"
    generation: 3
    name: elasticsearch
    namespace: tubearchivist
    resourceVersion: "1049"
    uid: 9589c6b8-e1b9-464f-982f-da44f50bc76d
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: elasticsearch
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        annotations:
          kubectl.kubernetes.io/restartedAt: "2026-01-24T23:04:57-08:00"
        labels:
          app: elasticsearch
      spec:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                  - openmediavault
                  - rpi-1
                  - rpi-10
                  - rpi-5
                  - rpi-7
                  - rpi-8
        containers:
        - env:
          - name: discovery.type
            value: single-node
          - name: ES_JAVA_OPTS
            value: -Xms512m -Xmx512m
          - name: xpack.security.enabled
            value: "true"
          - name: ELASTIC_PASSWORD
            valueFrom:
              secretKeyRef:
                key: elastic-password
                name: tubearchivist-secrets
          - name: path.repo
            value: /usr/share/elasticsearch/data/snapshot
          image: elasticsearch:8.14.3
          imagePullPolicy: IfNotPresent
          name: elasticsearch
          ports:
          - containerPort: 9200
            protocol: TCP
          resources:
            limits:
              cpu: "2"
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /usr/share/elasticsearch/data
            name: data
        dnsPolicy: ClusterFirst
        initContainers:
        - command:
          - sh
          - -c
          - sysctl -w vm.max_map_count=262144 || true
          image: busybox
          imagePullPolicy: Always
          name: sysctl
          resources: {}
          securityContext:
            privileged: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        - command:
          - sh
          - -c
          - mkdir -p /usr/share/elasticsearch/data/snapshot && chown -R 1000:1000
            /usr/share/elasticsearch/data
          image: busybox
          imagePullPolicy: Always
          name: fix-permissions
          resources: {}
          securityContext:
            runAsUser: 0
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /usr/share/elasticsearch/data
            name: data
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: data
          persistentVolumeClaim:
            claimName: elasticsearch-data
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-25T06:58:19Z"
      lastUpdateTime: "2026-01-25T07:15:31Z"
      message: ReplicaSet "elasticsearch-7b54799665" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2026-01-27T04:41:00Z"
      lastUpdateTime: "2026-01-27T04:41:00Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 3
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "1"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"ta-redis","namespace":"tubearchivist"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"redis"}},"template":{"metadata":{"labels":{"app":"redis"}},"spec":{"affinity":{"nodeAffinity":{"requiredDuringSchedulingIgnoredDuringExecution":{"nodeSelectorTerms":[{"matchExpressions":[{"key":"kubernetes.io/hostname","operator":"In","values":["openmediavault","rpi-1","rpi-10","rpi-5","rpi-7","rpi-8"]}]}]}}},"containers":[{"image":"redis:7-alpine","name":"redis","ports":[{"containerPort":6379}],"resources":{"limits":{"cpu":"500m","memory":"256Mi"},"requests":{"cpu":"100m","memory":"128Mi"}},"volumeMounts":[{"mountPath":"/data","name":"data"}]}],"volumes":[{"name":"data","persistentVolumeClaim":{"claimName":"redis-data"}}]}}}}
    creationTimestamp: "2026-01-25T07:28:10Z"
    generation: 1
    name: ta-redis
    namespace: tubearchivist
    resourceVersion: "1050"
    uid: c2241cc4-b34b-4dfa-9dd7-23c741f3afff
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: redis
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        labels:
          app: redis
      spec:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                  - openmediavault
                  - rpi-1
                  - rpi-10
                  - rpi-5
                  - rpi-7
                  - rpi-8
        containers:
        - image: redis:7-alpine
          imagePullPolicy: IfNotPresent
          name: redis
          ports:
          - containerPort: 6379
            protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /data
            name: data
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: data
          persistentVolumeClaim:
            claimName: redis-data
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-25T07:28:10Z"
      lastUpdateTime: "2026-01-25T07:29:30Z"
      message: ReplicaSet "ta-redis-649b9c44c9" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2026-01-27T02:59:30Z"
      lastUpdateTime: "2026-01-27T02:59:30Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "14"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"tubearchivist","namespace":"tubearchivist"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"tubearchivist"}},"template":{"metadata":{"labels":{"app":"tubearchivist"}},"spec":{"containers":[{"env":[{"name":"TA_HOST","value":"http://192.168.8.197:30850"},{"name":"TA_USERNAME","value":"admin"},{"name":"TA_PASSWORD","valueFrom":{"secretKeyRef":{"key":"ta-password","name":"tubearchivist-secrets"}}},{"name":"ELASTIC_PASSWORD","valueFrom":{"secretKeyRef":{"key":"elastic-password","name":"tubearchivist-secrets"}}},{"name":"ES_URL","value":"http://elasticsearch:9200"},{"name":"REDIS_CON","value":"redis://ta-redis:6379"},{"name":"TZ","value":"America/Los_Angeles"}],"image":"bbilly1/tubearchivist:latest","name":"tubearchivist","ports":[{"containerPort":8000}],"resources":{"limits":{"cpu":"4","memory":"4Gi"},"requests":{"cpu":"500m","memory":"1Gi"}},"volumeMounts":[{"mountPath":"/cache","name":"cache"},{"mountPath":"/youtube","name":"media"}]}],"nodeSelector":{"kubernetes.io/hostname":"openmediavault"},"volumes":[{"name":"cache","persistentVolumeClaim":{"claimName":"tubearchivist-cache"}},{"name":"media","persistentVolumeClaim":{"claimName":"tubearchivist-media"}}]}}}}
    creationTimestamp: "2026-01-25T07:04:03Z"
    generation: 14
    name: tubearchivist
    namespace: tubearchivist
    resourceVersion: "1051"
    uid: b115e4c5-d82a-4779-848b-3521ef29e3e9
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: tubearchivist
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        annotations:
          kubectl.kubernetes.io/restartedAt: "2026-01-27T03:00:44Z"
        labels:
          app: tubearchivist
      spec:
        containers:
        - env:
          - name: TA_HOST
            value: http://192.168.8.197:30850
          - name: TA_USERNAME
            value: admin
          - name: TA_PASSWORD
            valueFrom:
              secretKeyRef:
                key: ta-password
                name: tubearchivist-secrets
          - name: ELASTIC_PASSWORD
            valueFrom:
              secretKeyRef:
                key: elastic-password
                name: tubearchivist-secrets
          - name: ES_URL
            value: http://elasticsearch:9200
          - name: REDIS_CON
            value: redis://ta-redis:6379
          - name: TZ
            value: America/Los_Angeles
          image: bbilly1/tubearchivist:latest
          imagePullPolicy: Always
          name: tubearchivist
          ports:
          - containerPort: 8000
            protocol: TCP
          resources:
            limits:
              cpu: "4"
              memory: 4Gi
            requests:
              cpu: 500m
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /cache
            name: cache
          - mountPath: /youtube
            name: media
        dnsPolicy: ClusterFirst
        nodeSelector:
          kubernetes.io/hostname: cm3588-plus
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: cache
          persistentVolumeClaim:
            claimName: tubearchivist-cache
        - name: media
          persistentVolumeClaim:
            claimName: tubearchivist-media
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-27T03:09:48Z"
      lastUpdateTime: "2026-01-27T03:09:48Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2026-01-27T03:00:46Z"
      lastUpdateTime: "2026-01-27T03:14:08Z"
      message: ReplicaSet "tubearchivist-76cfcc694" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 14
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
