apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      argocd.argoproj.io/tracking-id: kube-sentinel:/Service:kube-sentinel/kube-sentinel
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{"argocd.argoproj.io/tracking-id":"kube-sentinel:/Service:kube-sentinel/kube-sentinel"},"labels":{"app.kubernetes.io/managed-by":"kustomize","app.kubernetes.io/name":"kube-sentinel","app.kubernetes.io/version":"1.0.0"},"name":"kube-sentinel","namespace":"kube-sentinel"},"spec":{"ports":[{"name":"http","port":80,"protocol":"TCP","targetPort":"http"}],"selector":{"app.kubernetes.io/managed-by":"kustomize","app.kubernetes.io/name":"kube-sentinel","app.kubernetes.io/version":"1.0.0"},"type":"ClusterIP"}}
    creationTimestamp: "2026-01-20T01:19:11Z"
    labels:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/name: kube-sentinel
      app.kubernetes.io/version: 1.0.0
    name: kube-sentinel
    namespace: kube-sentinel
    resourceVersion: "10251"
    uid: 2b7e6fcf-9558-4cec-8b4b-249b089a8035
  spec:
    clusterIP: 10.43.204.236
    clusterIPs:
    - 10.43.204.236
    internalTrafficPolicy: Cluster
    ipFamilies:
    - IPv4
    ipFamilyPolicy: SingleStack
    ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
    selector:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/name: kube-sentinel
      app.kubernetes.io/version: 1.0.0
    sessionAffinity: None
    type: ClusterIP
  status:
    loadBalancer: {}
kind: List
metadata:
  resourceVersion: ""
