apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "2"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"minio","namespace":"velero"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"minio"}},"template":{"metadata":{"labels":{"app":"minio"}},"spec":{"containers":[{"args":["server","/data","--console-address",":9001"],"envFrom":[{"secretRef":{"name":"minio-credentials"}}],"image":"minio/minio:latest","livenessProbe":{"httpGet":{"path":"/minio/health/live","port":9000},"initialDelaySeconds":30,"periodSeconds":20},"name":"minio","ports":[{"containerPort":9000,"name":"api"},{"containerPort":9001,"name":"console"}],"readinessProbe":{"httpGet":{"path":"/minio/health/ready","port":9000},"initialDelaySeconds":30,"periodSeconds":20},"resources":{"limits":{"cpu":"500m","memory":"1Gi"},"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"mountPath":"/data","name":"data"}]}],"volumes":[{"name":"data","persistentVolumeClaim":{"claimName":"minio-data"}}]}}}}
    creationTimestamp: "2026-01-27T00:15:24Z"
    generation: 5
    name: minio
    namespace: velero
    resourceVersion: "971037"
    uid: 28f8e432-4879-4cb7-b490-97b464cc59bd
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: minio
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        annotations:
          kubectl.kubernetes.io/restartedAt: "2026-01-27T20:58:58-08:00"
        labels:
          app: minio
      spec:
        containers:
        - args:
          - server
          - /data
          - --console-address
          - :9001
          env:
          - name: MINIO_ROOT_USER
            value: minio
          - name: MINIO_ROOT_PASSWORD
            value: minio123velero
          envFrom:
          - secretRef:
              name: minio-credentials
          image: minio/minio:latest
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /minio/health/live
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
          name: minio
          ports:
          - containerPort: 9000
            name: api
            protocol: TCP
          - containerPort: 9001
            name: console
            protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /minio/health/ready
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 256Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /data
            name: data
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: data
          persistentVolumeClaim:
            claimName: minio-data
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-28T05:11:39Z"
      lastUpdateTime: "2026-01-28T05:11:39Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2026-01-27T00:15:24Z"
      lastUpdateTime: "2026-01-28T05:11:39Z"
      message: ReplicaSet "minio-c7bcb4559" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 5
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "3"
    creationTimestamp: "2026-01-27T00:26:43Z"
    generation: 3
    labels:
      component: velero
    name: velero
    namespace: velero
    resourceVersion: "971495"
    uid: 60f68679-2fe0-4bfc-8c63-776b8268d758
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        deploy: velero
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        annotations:
          kubectl.kubernetes.io/restartedAt: "2026-01-27T21:12:12-08:00"
          prometheus.io/path: /metrics
          prometheus.io/port: "8085"
          prometheus.io/scrape: "true"
        labels:
          component: velero
          deploy: velero
      spec:
        containers:
        - args:
          - server
          - --features=
          - --uploader-type=kopia
          command:
          - /velero
          env:
          - name: VELERO_SCRATCH_DIR
            value: /scratch
          - name: VELERO_NAMESPACE
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
          - name: LD_LIBRARY_PATH
            value: /plugins
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /credentials/cloud
          - name: AWS_SHARED_CREDENTIALS_FILE
            value: /credentials/cloud
          - name: AZURE_CREDENTIALS_FILE
            value: /credentials/cloud
          - name: ALIBABA_CLOUD_CREDENTIALS_FILE
            value: /credentials/cloud
          image: velero/velero:v1.15.0
          imagePullPolicy: IfNotPresent
          name: velero
          ports:
          - containerPort: 8085
            name: metrics
            protocol: TCP
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: 500m
              memory: 128Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /plugins
            name: plugins
          - mountPath: /scratch
            name: scratch
          - mountPath: /credentials
            name: cloud-credentials
        dnsPolicy: ClusterFirst
        initContainers:
        - image: velero/velero-plugin-for-aws:v1.10.0
          imagePullPolicy: IfNotPresent
          name: velero-velero-plugin-for-aws
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        serviceAccount: velero
        serviceAccountName: velero
        terminationGracePeriodSeconds: 30
        volumes:
        - emptyDir: {}
          name: plugins
        - emptyDir: {}
          name: scratch
        - name: cloud-credentials
          secret:
            defaultMode: 420
            secretName: cloud-credentials
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-27T01:13:32Z"
      lastUpdateTime: "2026-01-27T01:13:32Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2026-01-27T00:26:43Z"
      lastUpdateTime: "2026-01-28T05:12:22Z"
      message: ReplicaSet "velero-5dd8d77db7" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 3
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "1"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"velero-ui","namespace":"velero"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"velero-ui"}},"template":{"metadata":{"labels":{"app":"velero-ui"}},"spec":{"containers":[{"env":[{"name":"VELERO_NAMESPACE","value":"velero"},{"name":"NEXT_PUBLIC_VELERO_API_URL","value":""}],"image":"otwld/velero-ui:latest","name":"velero-ui","ports":[{"containerPort":3000}],"resources":{"limits":{"cpu":"200m","memory":"512Mi"},"requests":{"cpu":"50m","memory":"128Mi"}}}],"serviceAccountName":"velero-ui"}}}}
    creationTimestamp: "2026-01-27T00:28:33Z"
    generation: 1
    name: velero-ui
    namespace: velero
    resourceVersion: "1054"
    uid: 7445363d-2de9-46e3-b987-ada9e1687247
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: velero-ui
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        labels:
          app: velero-ui
      spec:
        containers:
        - env:
          - name: VELERO_NAMESPACE
            value: velero
          - name: NEXT_PUBLIC_VELERO_API_URL
          image: otwld/velero-ui:latest
          imagePullPolicy: Always
          name: velero-ui
          ports:
          - containerPort: 3000
            protocol: TCP
          resources:
            limits:
              cpu: 200m
              memory: 512Mi
            requests:
              cpu: 50m
              memory: 128Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        serviceAccount: velero-ui
        serviceAccountName: velero-ui
        terminationGracePeriodSeconds: 30
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-01-27T00:28:33Z"
      lastUpdateTime: "2026-01-27T00:30:45Z"
      message: ReplicaSet "velero-ui-7d8c54847" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2026-01-27T02:39:18Z"
      lastUpdateTime: "2026-01-27T02:39:18Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
